.tile{
    display: grid;
    place-content: center;
    width: 80px;
    height: 80px;

}
.white-tile{
    background-color: #eeeed2;

}
.black-tile{
    background-color: #769656;
}
.tile img{
    width :75px;
}

.tile .chess-piece{
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
}

.tile .chess-piece:hover{
    cursor : grab;
}
.tile .chess-piece:active{
    cursor : grabbing;
}